
.landing {
  background-color: black;
  max-width: 960px;
  margin: 0 auto;
}

.line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #313030;
}

li {
  color: white;
  display: inline;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  t
}

.featured {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  margin-top: 90px;
}

.big-clip {
  float: left;
  top: 1px;
}

.aboutbox {

}


.about1 {
  float: left;
  margin: 1em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align : center;
  padding : 2em;
  border : 0.1em solid white;
  width  : 4em;
  height : 4em;
  border-radius: 100%;

}

.para1 {
  color: white;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
}

.ion-social-youtube-outline {
  color: white;
     font-size: 5rem;
}
.ion-ios-mic-outline {
  color: white;
     font-size: 5.5rem;
}
.ion-ios-person-outline {
  color: white;
     font-size: 6.5rem;
}
.ion-ios-email-outline {
  color: white;
     font-size: 6rem;
}

.points {
  position: relative;
     display: table;
     width: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

.icon {
  color: white;
  display: table-cell;
     position: relative;
     width: 33.3%;
     padding: 2rem;
     text-align: center;
}


#bttn1 {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 0px #000000;
  -webkit-box-shadow: 0px 1px 26px #050505;
  -moz-box-shadow: 0px 1px 26px #050505;
  box-shadow: 0px 1px 26px #050505;

  color: #ffffff;
  font-size: 20px;
  padding: 15px;
  background: #000000;
  border: solid #000000 0px;
  text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}

#bttn2 {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 0px #000000;
  -webkit-box-shadow: 0px 1px 26px #050505;
  -moz-box-shadow: 0px 1px 26px #050505;
  box-shadow: 0px 1px 26px #050505;

  color: #ffffff;
  font-size: 20px;
  padding: 15px;
  background: #000000;
  border: solid #000000 0px;
  text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
}

#bttn3 {
-webkit-border-radius: 60;
-moz-border-radius: 60;
border-radius: 60px;
text-shadow: 1px 1px 0px #000000;
-webkit-box-shadow: 0px 1px 26px #050505;
-moz-box-shadow: 0px 1px 26px #050505;
box-shadow: 0px 1px 26px #050505;

color: #ffffff;
font-size: 20px;
padding: 15px;
background: #000000;
border: solid #000000 0px;
text-decoration: underline;
font-family: 'Montserrat', sans-serif;
}

#bttn4 {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 1px 1px 0px #000000;
  -webkit-box-shadow: 0px 1px 26px #050505;
  -moz-box-shadow: 0px 1px 26px #050505;
  box-shadow: 0px 1px 26px #050505;

  color: #ffffff;
  font-size: 20px;
  padding: 15px;
  background: #000000;
  border: solid #000000 0px;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

#bttn1:hover {
  background: #757575;
  background-image: -webkit-linear-gradient(top, #757575, #1c1c1c);
  background-image: -moz-linear-gradient(top, #757575, #1c1c1c);
  background-image: -ms-linear-gradient(top, #757575, #1c1c1c);
  background-image: -o-linear-gradient(top, #757575, #1c1c1c);
  background-image: linear-gradient(to bottom, #757575, #1c1c1c);
  text-decoration: none;
}

#bttn2:hover {
  background: #757575;
  background-image: -webkit-linear-gradient(top, #757575, #1c1c1c);
  background-image: -moz-linear-gradient(top, #757575, #1c1c1c);
  background-image: -ms-linear-gradient(top, #757575, #1c1c1c);
  background-image: -o-linear-gradient(top, #757575, #1c1c1c);
  background-image: linear-gradient(to bottom, #757575, #1c1c1c);
  text-decoration: none;
}

#bttn3:hover {
  background: #757575;
  background-image: -webkit-linear-gradient(top, #757575, #1c1c1c);
  background-image: -moz-linear-gradient(top, #757575, #1c1c1c);
  background-image: -ms-linear-gradient(top, #757575, #1c1c1c);
  background-image: -o-linear-gradient(top, #757575, #1c1c1c);
  background-image: linear-gradient(to bottom, #757575, #1c1c1c);
  text-decoration: none;
}

#bttn4:hover {
  background: #757575;
  background-image: -webkit-linear-gradient(top, #757575, #1c1c1c);
  background-image: -moz-linear-gradient(top, #757575, #1c1c1c);
  background-image: -ms-linear-gradient(top, #757575, #1c1c1c);
  background-image: -o-linear-gradient(top, #757575, #1c1c1c);
  background-image: linear-gradient(to bottom, #757575, #1c1c1c);
  text-decoration: none;
}
